@import "tailwindcss";
@plugin "flyonui" {
  themes: light --default, dark --preferscolorscheme;
}
@source "./node_modules/flyonui/dist/index.js";
@import "../node_modules/flyonui/variants.css";

@theme {
  --color-keyr-purple: #8a2be2;
  --color-keyr-blue: #4169e1;
}
